@import 'src/colors.scss';

hr {
  width: 25vw;
  border: 1px solid $color-02;
  margin-left: 0;
}

td {
  border-top: 1px solid $color-02;
  padding-left: 7.5px;
  padding-right: 7.5px;
  height: 40px;
  width: 25%;
}

td:first-child {
  padding-left: 0;
}

td:last-child {
  padding-right: 0;
}

table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 15px 0px;
  margin: 0px -15px;
}

.table-container {
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
}

.overview-info-block {
  width: 60vw;
}

.btn-cancel-trip {
  border: 1px solid $color-12;
  width: 90vw;
  padding: 15px 0;
  margin: 0 auto;
  color: $color-12;
}