$color-bg: rgb(247, 243, 239);

$color-01: rgb(119, 119, 119);
$color-02: rgb(221, 218, 214);
$color-03: rgb(255, 255, 255);
$color-04: rgb(0, 0, 0);
$color-05: rgb(63, 56, 37);
$color-06: rgb(247, 243, 239);
$color-07: rgb(157, 157, 157, 0.0);
$color-08: rgb(30, 29, 30);
$color-09: rgb(234, 230, 219);
$color-10: rgb(108, 104, 91);
$color-11: rgb(172, 130, 109);
$color-12: rgb(217, 216, 203);